<a href="https://colab.research.google.com/github/Soumyoj/ML-AI-Python/blob/main/H2O_AutoML_for_Employee_Rentention_May_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Code snippet 1
# NumPy for numerical computing
import numpy as np

# Pandas for DataFrames
import pandas as pd

In [ ]:
# Code snippet 2
## This dataset contain both features and labels
url = 'https://raw.githubusercontent.com/nvamsimohan/DallasDSA/main/employee_data.csv'
df = pd.read_csv(url)
# Display dataframe
df

,avg_monthly_hrs,department,filed_complaint,last_evaluation,n_projects,recently_promoted,salary,satisfaction,status,tenure
0,221,engineering,NaN,0.932868,4,NaN,low,0.829896,Left,5.0
1,232,support,NaN,NaN,3,NaN,low,0.834544,Employed,2.0
2,184,sales,NaN,0.788830,3,NaN,medium,0.834988,Employed,3.0
3,206,sales,NaN,0.575688,4,NaN,low,0.424764,Employed,2.0
4,249,sales,NaN,0.845217,3,NaN,low,0.779043,Employed,3.0
...,...,...,...,...,...,...,...,...,...,...
14244,178,IT,NaN,0.735865,5,NaN,low,0.263282,Employed,5.0
14245,257,sales,NaN,0.638604,3,NaN,low,0.868209,Employed,2.0
14246,232,finance,1.0,0.847623,5,NaN,medium,0.898917,Left,5.0
14247,130,IT,NaN,0.757184,4,NaN,medium,0.641304,Employed,3.0
14248,159,NaN,NaN,0.578742,3,NaN,medium,0.808850,Employed,3.0

In [ ]:
# Code snippet 3
# Checking the data types
df.dtypes

avg_monthly_hrs        int64
department            object
filed_complaint      float64
last_evaluation      float64
n_projects             int64
recently_promoted    float64
salary                object
satisfaction         float64
status                object
tenure               float64
dtype: object

In [ ]:
# Code snippet 4
# Checking the null values list and counts
df.isnull().sum()

avg_monthly_hrs          0
department             709
filed_complaint      12191
last_evaluation       1532
n_projects               0
recently_promoted    13949
salary                   0
satisfaction           181
status                   0
tenure                 181
dtype: int64

In [ ]:
# Code snippet 5
# Replacing null values with zeroes as appropriate
df['filed_complaint'] = df['filed_complaint'].fillna(0)
df['recently_promoted'] = df['recently_promoted'].fillna(0)

In [ ]:
# Code snippet 6
# Checking the null values list after cleaning
df.isnull().sum()

avg_monthly_hrs         0
department            709
filed_complaint         0
last_evaluation      1532
n_projects              0
recently_promoted       0
salary                  0
satisfaction          181
status                  0
tenure                181
dtype: int64

In [ ]:
# Code snippet 7
# Exploratory Data Analysis using latest AI based AutoEDA Package - sweetviz
!pip install sweetviz

Collecting sweetviz
  Downloading sweetviz-2.1.3-py3-none-any.whl (15.1 MB)
     |████████████████████████████████| 15.1 MB 5.4 MB/s
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (1.3.5)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (1.4.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (1.21.6)
Requirement already satisfied: jinja2>=2.11.1 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (2.11.3)
Requirement already satisfied: importlib-resources>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (5.7.1)
Requirement already satisfied: tqdm>=4.43.0 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (4.64.0)
Requirement already satisfied: matplotlib>=3.1.3 in /usr/local/lib/python3.7/dist-packages (from sweetviz) (3.2.2)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=1.2.0->sweetviz) (3.8.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2>=2.11.1->sweetviz) (2.0.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->sweetviz) (1.4.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->sweetviz) (3.0.8)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->sweetviz) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.3->sweetviz) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.1.3->sweetviz) (4.2.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.1.3->sweetviz) (1.15.0)
Installing collected packages: sweetviz
Successfully installed sweetviz-2.1.3

In [ ]:
# Code snippet 8
# Importing the package for use
import sweetviz as sv

# Generate the EDA report
Employee_EDA_report = sv.analyze(df)
# Convert the report to HTML
Employee_EDA_report.show_html() # Default arguments will generate to "SWEETVIZ_REPORT.html"

# Downloading the EDA report to local machine
from google.colab import files
files.download("SWEETVIZ_REPORT.html")

In [ ]:
# Code snippet 21
# Installing the H2O AI Package for Advanced ML and Deep Learning packages
!pip install h2o

Collecting h2o
  Downloading h2o-3.36.1.1.tar.gz (177.0 MB)
     |████████████████████████████████| 177.0 MB 21 kB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from h2o) (2.23.0)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from h2o) (0.8.9)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from h2o) (0.16.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2021.10.8)
Building wheels for collected packages: h2o
  Building wheel for h2o (setup.py) ... done
  Created wheel for h2o: filename=h2o-3.36.1.1-py2.py3-none-any.whl size=177068062 sha256=2489042f71d2b705c958a79500c55257a21b8121f64111c84575868613e8231b
  Stored in directory: /root/.cache/pip/wheels/a6/d9/ab/5442447c7e2ccf07f66aa8b79f3877ce5382f0b95e6c0c797b
Successfully built h2o
Installing collected packages: h2o
Successfully installed h2o-3.36.1.1

In [ ]:
# Code snippet 22
# Importing into current Working Session
import h2o
from h2o.automl import H2OAutoML

In [ ]:
# Code snippet 23
# Initializing the H2O Server
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.15" 2022-04-19; OpenJDK Runtime Environment (build 11.0.15+10-Ubuntu-0ubuntu0.18.04.1); OpenJDK 64-Bit Server VM (build 11.0.15+10-Ubuntu-0ubuntu0.18.04.1, mixed mode, sharing)
  Starting server from /usr/local/lib/python3.7/dist-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmpc_7p66el
  JVM stdout: /tmp/tmpc_7p66el/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmpc_7p66el/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ----------------------------------
H2O_cluster_uptime:         03 secs
H2O_cluster_timezone:       Etc/UTC
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.36.1.1
H2O_cluster_version_age:    20 days
H2O_cluster_name:           H2O_from_python_unknownUser_fivye4
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.172 Gb
H2O_cluster_total_cores:    2
H2O_cluster_allowed_cores:  2
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.7.13 final
--------------------------  ----------------------------------

In [ ]:
# Code snippet 24
# Converting Pandas dataframe to H2O dataframe
import pandas as pd
df1 = pd.read_csv(url)
hf = h2o.H2OFrame(df1)
hf

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

avg_monthly_hrs,department,filed_complaint,last_evaluation,n_projects,recently_promoted,salary,satisfaction,status,tenure
221,engineering,nan,0.932868,4,nan,low,0.829896,Left,5
232,support,nan,nan,3,nan,low,0.834544,Employed,2
184,sales,nan,0.78883,3,nan,medium,0.834988,Employed,3
206,sales,nan,0.575688,4,nan,low,0.424764,Employed,2
249,sales,nan,0.845217,3,nan,low,0.779043,Employed,3
140,sales,nan,0.589097,4,nan,medium,0.66002,Employed,4
121,sales,1,0.625399,3,nan,low,0.835571,Employed,3
150,engineering,nan,0.644586,4,nan,low,0.796683,Employed,3
215,engineering,1,0.524114,3,nan,medium,0.715005,Employed,7
269,support,nan,0.909364,5,nan,medium,0.994037,Employed,2

In [ ]:
# Code snippet 25
# Splitting the data to train and test
splits = hf.split_frame(ratios = [0.8])
# Assigning first split to train variable
train = splits[0]
# Assigning first split to test variable
test = splits[1]

In [ ]:
# Code snippet 26
# Invoking the Auto advanced ML and Deep learning algorithms restricting run time to 60 seconds
aml = H2OAutoML(max_runtime_secs = 30)
# Training using train data and testing with test data
aml.train(y = "status", training_frame = train)

AutoML progress: |███████████████████████████████████████████████████████████████| (done) 100%
Model Details
=============
H2OStackedEnsembleEstimator :  Stacked Ensemble
Model Key:  StackedEnsemble_BestOfFamily_1_AutoML_1_20220504_15114

No model summary for this model

ModelMetricsBinomialGLM: stackedensemble
** Reported on train data. **

MSE: 0.024736075037428872
RMSE: 0.157277064562602
LogLoss: 0.09513613404339034
Null degrees of freedom: 10017
Residual degrees of freedom: 10014
Null deviance: 11024.655983774002
Residual deviance: 1906.147581693369
AIC: 1914.147581693369
AUC: 0.9892347556214064
AUCPR: 0.976342915092177
Gini: 0.9784695112428128

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.4873509487404941:

             Employed    Left   Error              Rate
0  Employed    7544.0    77.0  0.0101     (77.0/7621.0)
1      Left     212.0  2185.0  0.0884    (212.0/2397.0)
2     Total    7756.0  2262.0  0.0288   (289.0/10018.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold        value    idx
0                        max f1   0.487351     0.937970  160.0
1                        max f2   0.120956     0.929464  262.0
2                  max f0point5   0.758439     0.960032  118.0
3                  max accuracy   0.636923     0.971152  140.0
4                 max precision   0.998333     1.000000    0.0
5                    max recall   0.003842     1.000000  386.0
6               max specificity   0.998333     1.000000    0.0
7              max absolute_mcc   0.487351     0.919851  160.0
8    max min_per_class_accuracy   0.120956     0.949613  262.0
9   max mean_per_class_accuracy   0.192718     0.951469  230.0
10                      max tns   0.998333  7621.000000    0.0
11                      max fns   0.998333  2345.000000    0.0
12                      max fps   0.001049  7621.000000  399.0
13                      max tps   0.003842  2397.000000  386.0
14                      max tnr   0.998333     1.000000    0.0
15                      max fnr   0.998333     0.978306    0.0
16                      max fpr   0.001049     1.000000  399.0
17                      max tpr   0.003842     1.000000  386.0

Gains/Lift Table: Avg response rate: 23.93 %, avg score: 23.70 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.010082,0.997787,4.179391,4.179391,1.000000,0.998147,1.000000,0.998147,0.042136,0.042136,317.939091,317.939091,0.042136
1,2,0.020064,0.997195,4.179391,4.179391,1.000000,0.997445,1.000000,0.997798,0.041719,0.083855,317.939091,317.939091,0.083855
2,3,0.030046,0.996577,4.179391,4.179391,1.000000,0.996888,1.000000,0.997495,0.041719,0.125574,317.939091,317.939091,0.125574
3,4,0.040028,0.996045,4.179391,4.179391,1.000000,0.996303,1.000000,0.997198,0.041719,0.167292,317.939091,317.939091,0.167292
4,5,0.050010,0.995438,4.137597,4.171049,0.990000,0.995738,0.998004,0.996907,0.041302,0.208594,313.759700,317.104881,0.208463
5,6,0.100020,0.990738,4.162707,4.166878,0.996008,0.993362,0.997006,0.995134,0.208177,0.416771,316.270671,316.687776,0.416377
6,7,0.150030,0.979217,4.129338,4.154365,0.988024,0.986253,0.994012,0.992174,0.206508,0.623279,312.933832,315.436461,0.622098
7,8,0.200040,0.915409,4.087628,4.137680,0.978044,0.958360,0.990020,0.983720,0.204422,0.827701,308.762783,313.768042,0.825077
8,9,0.300060,0.068561,1.401472,3.225611,0.335329,0.325311,0.771790,0.764251,0.140175,0.967877,40.147240,222.561108,0.877862
9,10,0.399980,0.023281,0.183709,2.465705,0.043956,0.039244,0.589968,0.583135,0.018356,0.986233,-81.629051,146.570504,0.770644
10,11,0.500000,0.011064,0.070908,1.986650,0.016966,0.016070,0.475344,0.469699,0.007092,0.993325,-92.909217,98.664998,0.648488
11,12,0.600020,0.006380,0.045882,1.663135,0.010978,0.008416,0.397937,0.392806,0.004589,0.997914,-95.411846,66.313476,0.523042
12,13,0.699940,0.004298,0.016701,1.428098,0.003996,0.005261,0.341700,0.337482,0.001669,0.999583,-98.329914,42.809763,0.393888
13,14,0.799960,0.002998,0.004171,1.250062,0.000998,0.003595,0.299102,0.295736,0.000417,1.000000,-99.582895,25.006239,0.262958
14,15,0.899980,0.002113,0.000000,1.111136,0.000000,0.002536,0.265861,0.263151,0.000000,1.000000,-100.000000,11.113576,0.131479
15,16,1.000000,0.000698,0.000000,1.000000,0.000000,0.001647,0.239269,0.236995,0.000000,1.000000,-100.000000,0.000000,0.000000

ModelMetricsBinomialGLM: stackedensemble
** Reported on cross-validation data. **

MSE: 0.029223325042995758
RMSE: 0.1709483110270346
LogLoss: 0.11963344224328175
Null degrees of freedom: 11329
Residual degrees of freedom: 11326
Null deviance: 12430.646379072583
Residual deviance: 2710.893801232765
AIC: 2718.893801232765
AUC: 0.9786260136518701
AUCPR: 0.960284825442103
Gini: 0.9572520273037401

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.5814032955192021:

             Employed    Left   Error              Rate
0  Employed    8545.0    91.0  0.0105     (91.0/8636.0)
1      Left     267.0  2427.0  0.0991    (267.0/2694.0)
2     Total    8812.0  2518.0  0.0316   (358.0/11330.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold        value    idx
0                        max f1   0.581403     0.931312  155.0
1                        max f2   0.426752     0.915893  183.0
2                  max f0point5   0.777717     0.953633  119.0
3                  max accuracy   0.581403     0.968402  155.0
4                 max precision   0.998979     1.000000    0.0
5                    max recall   0.001831     1.000000  395.0
6               max specificity   0.998979     1.000000    0.0
7              max absolute_mcc   0.581403     0.911701  155.0
8    max min_per_class_accuracy   0.112500     0.935041  273.0
9   max mean_per_class_accuracy   0.426752     0.946237  183.0
10                      max tns   0.998979  8636.000000    0.0
11                      max fns   0.998979  2671.000000    0.0
12                      max fps   0.000460  8636.000000  399.0
13                      max tps   0.001831  2694.000000  395.0
14                      max tnr   0.998979     1.000000    0.0
15                      max fnr   0.998979     0.991463    0.0
16                      max fpr   0.000460     1.000000  399.0
17                      max tpr   0.001831     1.000000  395.0

Gains/Lift Table: Avg response rate: 23.78 %, avg score: 23.78 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.010062,0.996793,4.205642,4.205642,1.000000,0.997823,1.000000,0.997823,0.042316,0.042316,320.564217,320.564217,0.042316
1,2,0.020035,0.995311,4.168424,4.187115,0.991150,0.996048,0.995595,0.996939,0.041574,0.083890,316.842410,318.711511,0.083774
2,3,0.030009,0.993749,4.168424,4.180903,0.991150,0.994599,0.994118,0.996162,0.041574,0.125464,316.842410,318.090310,0.125232
3,4,0.040071,0.992128,4.131859,4.168588,0.982456,0.992879,0.991189,0.995337,0.041574,0.167038,313.185897,316.858805,0.166575
4,5,0.050044,0.990638,4.168424,4.168555,0.991150,0.991420,0.991182,0.994557,0.041574,0.208612,316.842410,316.855538,0.208033
5,6,0.100000,0.979811,4.190781,4.179659,0.996466,0.985692,0.993822,0.990128,0.209354,0.417966,319.078124,317.965850,0.417155
6,7,0.150044,0.959691,4.138886,4.166060,0.984127,0.971696,0.990588,0.983981,0.207127,0.625093,313.888594,316.605965,0.623240
7,8,0.200000,0.880726,4.012450,4.127691,0.954064,0.934455,0.981465,0.971610,0.200445,0.825538,301.245012,312.769117,0.820675
8,9,0.300000,0.078723,1.213808,3.156397,0.288614,0.318958,0.750515,0.754059,0.121381,0.946919,21.380846,215.639693,0.848725
9,10,0.400000,0.034349,0.230141,2.424833,0.054722,0.051355,0.576567,0.578383,0.023014,0.969933,-76.985895,142.483296,0.747724
10,11,0.500000,0.019221,0.133630,1.966592,0.031774,0.025731,0.467608,0.467853,0.013363,0.983296,-86.636971,96.659243,0.634060
11,12,0.600000,0.012983,0.037120,1.645014,0.008826,0.015661,0.391144,0.392488,0.003712,0.987008,-96.288048,64.501361,0.507735
12,13,0.700000,0.009513,0.033408,1.414784,0.007944,0.011239,0.336401,0.338023,0.003341,0.990349,-96.659243,41.478418,0.380923
13,14,0.800000,0.004508,0.063103,1.245824,0.015004,0.006767,0.296227,0.296616,0.006310,0.996659,-93.689681,24.582405,0.258007
14,15,0.900000,0.002319,0.029696,1.110699,0.007061,0.003330,0.264097,0.264029,0.002970,0.999629,-97.030438,11.069867,0.130708
15,16,1.000000,0.000104,0.003712,1.000000,0.000883,0.001424,0.237776,0.237768,0.000371,1.000000,-99.628805,0.000000,0.000000

Cross-Validation Metrics Summary:

,,mean,sd,cv_1_valid,cv_2_valid,cv_3_valid,cv_4_valid,cv_5_valid
0,accuracy,0.969288,0.003675,0.967309,0.974315,0.967271,0.971954,0.965591
1,auc,0.978657,0.004779,0.975746,0.985203,0.974725,0.982308,0.975305
2,err,0.030712,0.003675,0.032691,0.025685,0.032729,0.028046,0.034409
3,err_count,69.600000,8.734987,73.000000,60.000000,74.000000,61.000000,80.000000
4,f0point5,0.952322,0.005659,0.947475,0.960652,0.948345,0.955673,0.949467
5,f1,0.932931,0.010086,0.927794,0.947552,0.927022,0.939061,0.923225
6,f2,0.914353,0.014467,0.908915,0.934805,0.906636,0.923017,0.898394
7,lift_top_group,4.210119,0.124216,4.269598,3.993162,4.298479,4.223301,4.266055
8,logloss,0.119671,0.011382,0.126270,0.102114,0.126424,0.114293,0.129254
9,max_per_class_error,0.097606,0.017240,0.103250,0.073504,0.106464,0.087379,0.117431
10,mcc,0.913966,0.011853,0.907607,0.930979,0.907023,0.921519,0.902703
11,mean_per_class_accuracy,0.946215,0.008631,0.942819,0.958394,0.941581,0.951491,0.936790
12,mean_per_class_error,0.053785,0.008631,0.057181,0.041607,0.058419,0.048509,0.063210
13,mse,0.029232,0.002830,0.030429,0.024801,0.030699,0.028211,0.032021
14,null_deviance,2486.129400,98.445750,2431.168500,2632.680700,2453.461000,2380.954300,2532.382000
15,pr_auc,0.960028,0.009467,0.954409,0.975510,0.953975,0.962776,0.953469
16,precision,0.965731,0.003522,0.961066,0.969589,0.963115,0.967078,0.967807
17,r2,0.838345,0.018402,0.830346,0.867878,0.828037,0.843891,0.821573
18,recall,0.902394,0.017240,0.896749,0.926496,0.893536,0.912621,0.882569
19,residual_deviance,542.178800,52.609690,563.921500,477.077300,571.689300,497.173030,601.032650

See the whole table with table.as_data_frame()

In [ ]:
# Code snippet 27
# Displaying the best algorithm scores
aml.leaderboard.head(20)

model_id,auc,logloss,aucpr,mean_per_class_error,rmse,mse
StackedEnsemble_BestOfFamily_1_AutoML_1_20220504_15114,0.978626,0.119633,0.960285,0.0548232,0.170948,0.0292233
XGBoost_1_AutoML_1_20220504_15114,0.978475,0.122841,0.960047,0.0536517,0.171898,0.029549
GBM_1_AutoML_1_20220504_15114,0.973851,0.190586,0.950011,0.0613959,0.21193,0.0449145
XGBoost_2_AutoML_1_20220504_15114,0.96234,0.480775,0.918085,0.0715567,0.382471,0.146284
DRF_1_AutoML_1_20220504_15114,0.942611,1.51321,0.858454,0.0583998,0.211524,0.0447423
GLM_1_AutoML_1_20220504_15114,0.821225,0.429794,0.521198,0.250103,0.374478,0.140234

In [ ]:
# Code snippet 28
# Getting the prediction metrics
perf = aml.leader.model_performance(test)
# Displaying the performance metrics
perf

ModelMetricsBinomialGLM: stackedensemble
** Reported on test data. **

MSE: 0.024957414727691293
RMSE: 0.15797915915617253
LogLoss: 0.09785518248312339
Null degrees of freedom: 2918
Residual degrees of freedom: 2915
Null deviance: 3211.3197740089627
Residual deviance: 571.2785553364741
AIC: 579.2785553364741
AUC: 0.9860590946797243
AUCPR: 0.975561872012707
Gini: 0.9721181893594486

Confusion Matrix (Act/Pred) for max f1 @ threshold = 0.7579702342345728:

             Employed   Left   Error            Rate
0  Employed    2213.0    8.0  0.0036    (8.0/2221.0)
1      Left      75.0  623.0  0.1074    (75.0/698.0)
2     Total    2288.0  631.0  0.0284   (83.0/2919.0)

Maximum Metrics: Maximum metrics at their respective thresholds

                         metric  threshold        value    idx
0                        max f1   0.757970     0.937547  125.0
1                        max f2   0.151013     0.929542  213.0
2                  max f0point5   0.757970     0.966791  125.0
3                  max accuracy   0.757970     0.971566  125.0
4                 max precision   0.998139     1.000000    0.0
5                    max recall   0.001915     1.000000  394.0
6               max specificity   0.998139     1.000000    0.0
7              max absolute_mcc   0.757970     0.921161  125.0
8    max min_per_class_accuracy   0.114591     0.947771  233.0
9   max mean_per_class_accuracy   0.151013     0.951495  213.0
10                      max tns   0.998139  2221.000000    0.0
11                      max fns   0.998139   680.000000    0.0
12                      max fps   0.000973  2221.000000  399.0
13                      max tps   0.001915   698.000000  394.0
14                      max tnr   0.998139     1.000000    0.0
15                      max fnr   0.998139     0.974212    0.0
16                      max fpr   0.000973     1.000000  399.0
17                      max tpr   0.001915     1.000000  394.0

Gains/Lift Table: Avg response rate: 23.91 %, avg score: 23.59 %

,group,cumulative_data_fraction,lower_threshold,lift,cumulative_lift,response_rate,score,cumulative_response_rate,cumulative_score,capture_rate,cumulative_capture_rate,gain,cumulative_gain,kolmogorov_smirnov
0,1,0.010277,0.997732,4.181948,4.181948,1.000000,0.998015,1.000000,0.998015,0.042980,0.042980,318.194842,318.194842,0.042980
1,2,0.020212,0.997257,4.181948,4.181948,1.000000,0.997494,1.000000,0.997759,0.041547,0.084527,318.194842,318.194842,0.084527
2,3,0.030147,0.996795,4.181948,4.181948,1.000000,0.997009,1.000000,0.997512,0.041547,0.126074,318.194842,318.194842,0.126074
3,4,0.040082,0.996198,4.181948,4.181948,1.000000,0.996519,1.000000,0.997266,0.041547,0.167622,318.194842,318.194842,0.167622
4,5,0.050017,0.995454,4.181948,4.181948,1.000000,0.995791,1.000000,0.996973,0.041547,0.209169,318.194842,318.194842,0.209169
5,6,0.100034,0.990361,4.181948,4.181948,1.000000,0.993245,1.000000,0.995109,0.209169,0.418338,318.194842,318.194842,0.418338
6,7,0.150051,0.979757,4.181948,4.181948,1.000000,0.985881,1.000000,0.992033,0.209169,0.627507,318.194842,318.194842,0.627507
7,8,0.200069,0.916164,4.010088,4.138983,0.958904,0.957568,0.989726,0.983417,0.200573,0.828080,301.008753,313.898320,0.825379
8,9,0.300103,0.060454,1.374887,3.217618,0.328767,0.318273,0.769406,0.761702,0.137536,0.965616,37.488715,221.761785,0.874666
9,10,0.400137,0.022908,0.157539,2.452598,0.037671,0.036522,0.586473,0.580407,0.015759,0.981375,-84.246085,145.259818,0.763906
10,11,0.500171,0.010813,0.071609,1.976400,0.017123,0.015551,0.472603,0.467436,0.007163,0.988539,-92.839129,97.640028,0.641848
11,12,0.599863,0.006306,0.028742,1.652717,0.006873,0.008118,0.395203,0.391101,0.002865,0.991404,-97.125809,65.271748,0.514592
12,13,0.699897,0.004282,0.042965,1.422640,0.010274,0.005142,0.340186,0.335937,0.004298,0.995702,-95.703478,42.264031,0.388768
13,14,0.799931,0.003035,0.014322,1.246525,0.003425,0.003618,0.298073,0.294380,0.001433,0.997135,-98.567826,24.652510,0.259179
14,15,0.899966,0.002081,0.014322,1.109561,0.003425,0.002544,0.265322,0.261941,0.001433,0.998567,-98.567826,10.956150,0.129589
15,16,1.000000,0.000721,0.014322,1.000000,0.003425,0.001659,0.239123,0.235904,0.001433,1.000000,-98.567826,0.000000,0.000000

In [ ]:
# Code snippet 28.1
# Loading the Client dataset for which predictions to be made
url1 = 'https://raw.githubusercontent.com/nvamsimohan/DallasDSA/main/Employee%20Attrition%20Data%20-%20Client%20request.csv'
client_data = pd.read_csv(url1)

In [ ]:
# Code snippet 28.2 - checking the data size of the client data set
client_data.shape

(499, 9)

In [ ]:
# Code snippet 29
#Predicting the values using the best algorithms
hf_client = h2o.H2OFrame(client_data)
hf_client

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

avg_monthly_hrs,department,filed_complaint,last_evaluation,n_projects,recently_promoted,salary,satisfaction,tenure
221,engineering,nan,0.932868,4,nan,low,0.829896,5
232,support,nan,nan,3,nan,low,0.834544,2
184,sales,nan,0.78883,3,nan,medium,0.834988,3
206,sales,nan,0.575688,4,nan,low,0.424764,2
249,sales,nan,0.845217,3,nan,low,0.779043,3
140,sales,nan,0.589097,4,nan,medium,0.66002,4
121,sales,1,0.625399,3,nan,low,0.835571,3
150,engineering,nan,0.644586,4,nan,low,0.796683,3
215,engineering,1,0.524114,3,nan,medium,0.715005,7
269,support,nan,0.909364,5,nan,medium,0.994037,2

In [ ]:
# Code snippet 30
pred = aml.predict(hf_client)
# Displaying sample prediction results
pred.head()

stackedensemble prediction progress: |███████████████████████████████████████████| (done) 100%

predict,Employed,Left
Left,0.0251496,0.97485
Employed,0.993467,0.00653331
Employed,0.996455,0.00354484
Employed,0.973686,0.0263142
Employed,0.992767,0.00723258
Employed,0.995391,0.00460934
Employed,0.997623,0.00237725
Employed,0.99683,0.00316969
Employed,0.994847,0.00515297
Employed,0.993557,0.00644335

In [ ]:
# Code snippet 31
# Converting H2O Predictions data to a Pandas dataframe
pred_df = pred.as_data_frame()

In [ ]:
# Code snippet 32
# Appending predictions to the client data
client_data['Prediction'] = pred_df['predict']

In [ ]:
# Code snippet 33
# Converting the dataframe to a CSV file
client_data.to_csv('Employee Data Predictions.csv')

In [ ]:
# Code snippet 34
# Downloading the Predictions data file to local machine
from google.colab import files
files.download("Employee Data Predictions.csv")

In [ ]:
!pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.36)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.11.3)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (4.2.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.8.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26784 sha256=284b74d7bf67921ea4e7df9d27a0c4431a68c577a34bdef45b074758f30d00e7
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3